/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Author     : Much. Iqbal Fauzi
*/

body {
    background-color: cyan;
}

input {
    border: none;
}

i {
    left: calc(50% - 60px);
    top: -60px;
    background-color: #343a40;
    padding: 15px;
    border-radius: 50%;
    color: white;
}

.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation-left {
    width: 20%;
    height: 100vh;
    position: absolute;
    padding: 0 10px;
    top: 0;
    left: 0;
    background-color: #343a40;
}

.menu-side{
    width: 100%;
    padding: 10px 0;
}

.menu-side:hover {
    background-color: bisque;
    color: #343a40;
}

.hide {
    display: none;
}



